html { min-height: 100%;
       height:100%;
       margin:0;

       font-family:sans-serif;
       color:#000;}

body { max-width: 100%;
       display:flex;
       flex-direction:column;
       background-color:transparent;
       font-family:sans-serif;
       color:#332903;
       font-size:100%;
       min-height:100vh;
       min-width: 300px;
       
       margin:auto;
       }

Header {color:#3E7216;
        text-align:center;
        width:100%;}

Nav {position:absolute;
     text-align: right;
     min-width:120px;
     font-weight:bold;
     }
  nav a:link {color: #fff; padding: 10px;width:100%;
     min-width:100px; }
  nav a: visited { color: #ffc654; }
  nav a:hover { color:  #004406;}
  nav ul {list-style-type: none; padding-left: 0;}


  .nav-link a: link {color: #f28500; padding: 105px; }
  .nav-link a: visited { color: #7A3F28; }
  .nav-link a: hover { color: #ea4f00;}
  .nav-link ul {list-style-type: none; padding-left: 0;}

.heroimg {margin-top:-5rem!important;}

@media (max-width:434px) { .navbar {background-color: hsla(125, 100%, 13%, 0.6)!important;
  }
    .nav-item { width:fit-content!important; height:3rem;}
  .card-title { font-size:1.0em!important; font-weight: 600; }
    .heroimg {margin-top: 0rem!important;position:relative!important;}}

@media (min-width: 434px) {
    .navbar {background-color: hsla(125, 100%, 13%, 0.6)!important;
  }
    .nav-item { width:fit-content!important; height:3rem;}
  .card-title { font-size:1.5em!important; }
    .heroimg {margin-top: 0rem!important;position:relative!important;}
}
@media (min-width: 768px) {
  .navbar-collapse{
  background-color: unset;
    }.navbar {background-color:unset!important;
  }  
   .card-title { font-size:2.5em!important; }    .heroimg {margin-top: -5rem!important;position:relative!important;}
    
}

main { min-width:100%;
       width:100%; flex: 1 0 auto;
       }

#floatright {display: inline; float:right;
             padding:20px;}

#floatleft  {display: block; float:left;
             padding:20px;}


.clear {clear:both;}

p {color:#000; font-size-adjust: auto; font-family: 'Inter', sans-serif; }
h1 {color:#FFF; font-family:'Comfortaa", cursive, Arial' }
h2 {font-weight: bold;color: #004406; font-size: 2em;font-family:'Comfortaa", cursive, Arial'}
h3 {font-weight: bold;font-size: 1.5em;color:#000; text-shadow: -1px -1px 0 #ffc654, 1px -1px 0 #ffc654, -1px 1px 0 #ffc654, 1px 1px 0 #ffc654;font-family:'Comfortaa", cursive, Arial'}
h4 {font-size:1.4em;
    font-weight: bold;
    background-color:skyblue;}

ul { 
       max-width: 95%;
    font-family:'Comfortaa", cursive, Arial'
       font-size:100%
       }

.ul {
       max-width: 80%;
       margin-left:200px;
    font-family:sans-serif;
       color:#3F2860;
       font-size:100%}


form {margin:auto;
      float:center;
      }
dt {font-weight: bold;}

.mainimg {float:left; 
    margin-right:30px; 
    margin-bottom: 30px;
    border: 2px inset #000;}

footer { background-color:  hsla(125, 100%, 13%, 0.6);
         color:#fff; flex:shrink:0;
         height:auto; 
         font-size:small;
         font-style:italic;
         text-align: center;
         padding: 15px 0px;
         
         flex-direction: row;
        } 

footer a { color:#ffc654; font-weight: 700}

.wrapper { padding: 1em 2em 0em 2em;
           float:center;
           max-width:90%;
           margin:auto;
           display:block;
           
           background-color: rgba(255, 255, 255, 0.9);}

#wrapper1 { margin-right: auto;   
           margin-left: auto;
           display:block;}

#tag { font-style: italic; }

table {margin:auto;
       }

td { margin-top: 50px; 
     padding: 5px 10px 5px 10px;
     vertical-align: top;}
td img {    display: block;
    margin-left: auto;
    width:80%}

th {font-weight: bold;
    color:#004406;
    font-size: 20px;}

image {text-align:center;
            float:center;
            border: 2px inset #000;}

.leftnav {display: block;
     float:left;
     text-align: center;
     width:10%;
     min-width:100px;
     font-weight:bold;
     padding-top: 10px;
     margin:auto;
     min-height; 200px;
     }
  .leftnav a:link {color:  #f28500; border: 2px solid #004406; padding: 12px; margin:10px 0px 5px 10px;display:block; width:100%;}
  .leftnav a: visited { color: #497777; }
  .leftnav a:hover { color: #f28500; border: 3px solid #004406;}
  .leftnav ul {list-style-type: none; padding-left: 0;}

.floatmain { padding :1em 2em 0em 2em;
    margin-left:200px;
    min-height: 300px;}

.video {max-height: 800px;
    width:100%;
    min-height:240px; 
    max-height:800px;
    position: relative; }

li { padding:5px;}

.textgrid {  padding:.5em!important; }

